{{#if previousCampaigns}}
<section class="row previous">
  <h4>Include previous campaigns filters</h4>
  {{#each previousCampaigns as |campaign|}}
    <label class="column col-xs-3">
      {{input type="checkbox" class="filter" name=campaign.id}}
      {{campaign.title}}
    </label>
  {{/each}}
</section>
<section class="row">
  <label>
    {{input type="checkbox" checked=newFilterChecked}}
    New filter
  </label>
</section>
{{/if}}
<label class="all">
  {{input
    type="checkbox"
    checked=filter.all
    disabled=allDisabled
  }}
  All
</label>
<section class="date-range row">
  <div class="column col-xs-6 start">
    <label>
      {{input
        type="checkbox"
        checked=startDateChecked
      }}
      Start
    </label>
    {{bootstrap-datepicker
      disabled=startDateDisabled
      language="no"
      value=filter.dateStart
      autoclose=true
      orientation="bottom"
      placeholder="mm/dd/yyyy"
    }}
  </div>
  <div class="column col-xs-6 end">
    <label>
      {{input type="checkbox" checked=endDateChecked}}
      End
    </label>
    {{bootstrap-datepicker
      disabled=endDateDisabled
      language="no"
      value=filter.dateEnd
      autoclose=true
      orientation="bottom"
      placeholder="mm/dd/yyyy"
    }}
  </div>
</section>
<div class="row">
  <section class="frequency column col-xs-6">
    <label>
      {{input type="checkbox" checked=frequencyChecked}}
      Frequency
    </label>
    {{input
      value=filter.frequencyFrom
      disabled=frequencyDisabled
    }}
    to
    {{input
      value=filter.frequencyTo
      disabled=frequencyDisabled
    }}
  </section>
  <section class="geography column col-xs-6">
    <label>
      {{input
        type="checkbox"
        checked=geographyChecked
      }}
      Geography
    </label>
    <span class="radius">{{radius}} km</span>
    {{ui-slider
      value=filter.geography
      max=100
      disabled=geographyDisabled
    }}
  </section>
</div>
<div class="row">
  <section class="column col-xs-6 gender">
    <label>
      {{input type="checkbox" checked=genderChecked}}
      Gender
    </label>
    <label>
      {{radio-button
        value="male"
        groupValue=filter.gender
        disabled=genderDisabled
      }}
      Male
    </label>
    <label>
      {{radio-button
        value="female"
        groupValue=filter.gender
        disabled=genderDisabled
      }}
      Female
    </label>
  </section>
  <section class="age column col-xs-6">
    <label>
      {{input type="checkbox" checked=ageChecked}}
      Age
    </label>
    {{input
      value=filter.ageFrom
      disabled=ageDisabled
    }}
    to
    {{input
      value=filter.ageTo
      disabled=ageDisabled
    }}
  </section>
</div>
