<form data-remote="true" onsubmit={{action 'create'}}>
  <fieldset class="form-group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info active" onclick={{action 'changeKind'}} kind='sms'>SMS</button>
      <button type="button" class="btn btn-info" onclick={{action 'changeKind'}} kind='email'>Email</button>
    </div>
  </fieldset>

  {{partial 'campaigns/form'}}

  {{#if showNewUi}}
    {{#if showDelaySection}}
      <div class="row delay">
        <label>
          Send for new visitors with delay:
          {{input value=model.onVisitDelay}}<span> minutes</span>
        </label>
      </div>
    {{/if}}

    <section class="row">
      <h2>Define Your audience</h2>
      {{targets-filters
        previousCampaigns=campaigns
        filter=newFilter
      }}

    </section>
  {{/if}}
  {{input type="submit" class="btn btn-success" value="Create"}}
</form>
